<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Edumy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/courses">Courses</a>
        <a class="nav-link" href="/explore">Explore</a>
        <% if(currentUser && currentUser._id=='6832cd1e1573cac75bc1230b' ) {%>
          <a class="nav-link" href="/courses/new">New Courses</a>
          <% } %>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) {%>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>